// ================
// MODULES
// ================

.filter-panel
  width: 450px
  height: 320px
  left: auto
  right: 0
  font-size: 12px
  .filter-wrapper
    .no-filter-values-wrapper
      +absolute-full
      .no-filter-values
        +absolute-center
        text-align: center
        width: 100%
  .summary
    .search-summary
      margin-bottom: 15px
      margin-top: 10px
      .heading
        margin-bottom: 10px
        font-weight: bold
    .no-filters
      +absolute-center
    .clear-all
      cursor: pointer
      position: absolute
      top: 15px
      right: 10px
    ul
      margin: 0
      padding: 0
      li
        list-style: none
        margin-bottom: 15px
        .filter-key
          font-weight: bold
        .buttons
          margin-top: 10px
          button
            margin-left: 0
            margin-right: 5px
    .summary-close
      margin-top: 0
      font-size: 1.6em
      line-height: .75
  .row
    &, & > *
      height: 100%
  .nav
    height: 100%
    background: #f8f8f8
    & > li
      margin: 0
      & > a
        position: relative
        padding: 10px (2 * 12px + 8px) 10px 12px
        cursor: pointer
        color: #333333
        background-color: transparent
        .micro-badge
          position: absolute
          right: 12px
          top: 50%
          +translateY(-50%)
      &:hover > a
        color: #333333
        background: #ffffff
        .micro-badge
          background-color: #999999
      &.active > a
        color: $brand-primary
        background: #ffffff
        .micro-badge
          background-color: $brand-primary

// ----------------
// MICRO BADGE
// ----------------

.micro-badge
  $sz: 12/8 * 1em
  display: inline-block
  min-width: $sz
  line-height: $sz
  padding: 0 2/8 * 1em
  border-radius: 1em
  background-color: #ccc
  font-size: 8px
  color: white
  font-family: $font-family-sans-serif
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  .fa &
    font-size: 8/18 * 1em
    position: absolute
    left: 8/8 * 1em
    bottom: -7/8 * 1em
    +translate(-50%, -50%)

// ----------------
// CUSTOM BUTTONS
// ----------------

.btn
  +button-size(7px, 16px, 12px, 18px, $border-radius-base)
  outline: none !important
  &[dropdown-toggle] .caret
    margin-left: 0.6em
    margin-right: -0.3em
    margin-top: -0.2em

.btn-lg
  +button-size(14px, 26px, 16px, $line-height-large, $border-radius-large)
.btn-md
  +button-size(7px, 16px, 12px, 18px, $border-radius-base)
.btn-sm
  +button-size($padding-small-vertical, $padding-small-horizontal, 11px, $line-height-small, $border-radius-small)
.btn-xs
  +button-size($padding-xs-vertical, $padding-xs-horizontal, 10px, $line-height-small, $border-radius-small)


.btn-default
  +button-variant-hover(#ffffff, #999999, #999999)

.btn-primary
  +button-variant-hover(#ffffff, darken($brand-primary, 8%), darken($brand-primary, 8%))

.btn-white
  +button-variant(#333333, #ffffff, #cccccc)
  +button-variant-hover(#333333, #ffffff, #cccccc)

.btn-flat-white
  +button-variant(#999, #fff, #fff)
  .micro-badge
    background-color: #999
  &:focus,
  &.focus,
  &:hover
    background-color: #fff
    border-color: #fff
  &:focus,
  &.focus
    color: darken(#999, 25%)
    .micro-badge
      background-color: darken(#999, 25%)
  &:hover
    color: darken(#999, 12%)
    .micro-badge
      background-color: darken(#999, 12%)
  &:active,
  &.active,
  .open > &.dropdown-toggle
    color: $brand-primary
    background-color: #fff
    background-image: none
    border-color: #fff
    box-shadow: none
    .micro-badge
      background-color: $brand-primary
    &:focus, &.focus, &:hover
      color: darken($brand-primary, 12%)
      .micro-badge
        background-color: darken($brand-primary, 12%)
  &.disabled,
  &[disabled]
  fieldset[disabled] &
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active
      color: darken(#fff, 12%)
      .micro-badge
        background-color: darken(#fff, 12%)
  .btn-group .btn-flat-white + &
    margin-left: 1px

.btn-flat-white-alt
  @extend .btn-flat-white
  color: #333
  .micro-badge
    background-color: #333
  &:focus,
  &.focus
    color: darken($gray-dark, 25%)
    .micro-badge
      background-color: darken($gray-dark, 25%)
  &:hover
    color: darken($gray-dark, 12%)
    .micro-badge
      background-color: darken($gray-dark, 12%)

.btn-black
  +button-variant(#fff, #373944, #373944)

.btn-icon
  $fz: 12
  padding-left: 2/$fz * 1em !important
  .fa
    font-size: 16/$fz * 1em
    display: inline-block
    vertical-align: middle
    min-width: 1.9em
    margin-top: -1/$fz * 1em


.btn-icon-badge
  @extend .btn-icon
  $fz: 12
  .fa
    font-size: 18/$fz * 1em
    margin: -6/18 * 1em 0 -4/18 * 1em
    padding-right: 2px
    padding-left: 6px
    position: relative

.btn-icon-only
  @extend .btn-icon
  $fz: 12
  padding-right: 2/$fz * 1em !important

.btn-tooltip
  padding-left: 5px
  padding-right: 5px
  box-shadow: none !important
  position: relative
  &:after
    content: ""
    display: block
    position: absolute
    border: 6px solid transparent

.btn-tooltip-top
  @extend .btn-tooltip
  &:after
    bottom: 100%
    left: 50%
    +translateX(-50%)
    border-bottom-color: inherit





// ----------------
// SVG LOADER
// - needs gif fallback for IE9!
// ----------------

svg-loader
  display: block
  +square(40px)
  svg
    height: 100%
    width: 100%
  path, rect
    fill: #fff


// ----------------
// PLAYLIST PLAYER
// ----------------

// BASE PLAYER
playlist-player
  display: block
  position: relative
  background: #e1e1e1
  +user-select(none)

  .playlist-player-channel
    position: absolute
    overflow: hidden
    img, video
      +absolute-center

  .playlist-player-buffering,
  .playlist-player-play
    +absolute-full
    cursor: pointer

  .playlist-player-buffering
    background: #000

  .playlist-player-buffering-icon,
  .playlist-player-play-btn
    +absolute-center
    +opacity(.8)

// BASE PROGRESS
playlist-player-progress
  display: block
  .control-track
    position: relative
    height: 4px
    background: #e1e1e1
    cursor: pointer
  .control-progress
    position: absolute
    left: 0
    top: 0
    height: 100%
    background: darken(#e1e1e1, 30%)
    pointer-events: none
  .control-handle
    position: absolute
    top: 50%
    +square(16px)
    border-radius: 100%
    background: #36c2c9
    margin: -8px -8px

// BASE RATIO CONTAINER
aspect-ratio-container
  display: block
  position: relative
  .aspect-ratio-inner-container
    +absolute-center

// SMALL PREVIEW RATIO CONTAINER
.playlist-preview-ratio
  max-width: 400px
  margin: 0 auto 0px
  .aspect-ratio-inner-container
    border: 8px solid #373945
    border-radius: 2px

// SMALL PREVIEW PLAYER
.playlist-preview-player
  +absolute-full
  &.empty-slot
    .playlist-player-channel,
    .playlist-player-buffering
      visibility: hidden !important

// RED MARKER PROGRESS
.playlist-timeline-progress
  position: relative
  z-index: 5
  .control-track
    height: 24px
    margin-top: -24px
    // background-color: rgba(#333, .1)
    background-color: transparent
  .control-progress
    // background-color: rgba(#333, .1)
    background-color: transparent
  .control-handle
    height: 24px
    width: 24px
    margin: 0 -12px
    top: auto
    bottom: 0
    margin-bottom: 0
    background: image-url("images/red-timeline-marker.png") no-repeat center bottom
    background-size: 16px 19px
    &:after
      content: ""
      display: block
      width: 1px
      height: 1000px // needs variable height
      position: absolute
      top: 100%
      left: 50%
      background: #ff6666


file-listing
  .no-files-matching
    text-align: center
    margin-top: 20%


// ----------------
// MEDIA SELECTOR
// ----------------

// CUSTOM GRID FOR THUMBS
thumbs-row
  +clearfix
  display: block
  overflow: hidden

thumbs-col
  display: block
  float: left
  width: 100%

=thumbs-row-gap($gap-horizontal, $gap-vertical)
  margin-left: -$gap-horizontal / 2
  margin-right: -$gap-horizontal / 2
  margin-bottom: -$gap-vertical

=thumbs-col-gap($gap-horizontal, $gap-vertical)
  padding-left: $gap-horizontal / 2
  padding-right: $gap-horizontal / 2
  margin-bottom: $gap-vertical

=thumbs-row-gap-class($gapClass, $gap, $isDefault: false)
  thumbs-row
    @if $isDefault
      +thumbs-row-gap($gap, $gap)
    &#{$gapClass}
      +thumbs-row-gap($gap, $gap)
  thumbs-col
    @if $isDefault
      +thumbs-col-gap($gap, $gap)
    #{$gapClass} &
      +thumbs-col-gap($gap, $gap)

+thumbs-row-gap-class(".default-gap", $grid-gutter-width, true)
+thumbs-row-gap-class(".narrow-gap", $grid-gutter-width / 2)
+thumbs-row-gap-class(".narrower-gap", $grid-gutter-width / 4)
+thumbs-row-gap-class(".no-gap", 0)


// FILE THUMBNAIL
.file-thumb
  cursor: pointer
  &.disabled, &[disabled]
    opacity: 0.5
    cursor: not-allowed

  &.no-click
    cursor: auto

.upload-thumb
  +ratio-box(1)
  position: relative
  .wrapper
    position: absolute
    transform: translateY(-50%)
    top: 50%
    width: 100%
    max-height: 100%

  .progress
    height: 10px
    border-radius: 0
    border: 1px solid #ccc
    margin-bottom: 0

  .file-name
    font-size: 11px
    position: absolute
    margin-top: 3px
    text-align: justify
    height: 36px
    overflow: hidden
    line-height: 12px
    word-wrap: break-word
    max-width: 100%

.file-thumb-image,
.file-thumb-placeholder
  +ratio-box(1)
  background: $gray-lighter
  outline: 1px solid rgba($gray-light, 0.5)
  outline-offset: -1px
  .selected &
    $outline-width: 10px
    outline: $outline-width solid $brand-primary
    outline-offset: -$outline-width

.file-thumb-image
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  &.orig
    background-size: inherit

.file-thumb-placeholder
  position: relative
  & > span
    +absolute-center
    max-width: 80%
    max-height: 80%
    font-size: 10px
    text-align: center

.file-thumb-layout
  border: 3px solid #E3E3E3
  background-color: #E3E3E3
  border-radius: 3px
  .selected &
    border: 1px solid $brand-primary
    background: #EBECED
    .item
      background: $brand-primary

.file-thumb-info
  font-size: 12px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  line-height: 24/12 * 1em
  .fa:first-child
    text-indent: -3/12 * 1em

.file-thumb-sub-label
  color: #aaa
  font-size: 0.8em
  font-weight: 100
  display: inline

.file-thumb-opts
  float: right
  margin: 5px
  color: $gray-dark

  &.text
    color: #999

.file-thumb-loader
  $anim-duration: 800ms
  position: relative
  white-space: nowrap
  &:not(:first-child)
    margin: 1em 0
  &:before, &:after
    content: ""
    position: absolute
    top: 0
    margin: 0 3/10 * 1em
  &, &:before, &:after
    display: inline-block
    vertical-align: middle
    +square(6/10 * 1em)
    border-radius: 100%
    background-color: darken($gray-lighter, 10%)
    +animation(thumb-loader-dot 3 * $anim-duration infinite)
  &:before
    right: 100%
    +animation-delay(-$anim-duration)
  &:after
    left: 100%
    +animation-delay(-2 * $anim-duration)

.file-thumb-loader-alt
  @extend .file-thumb-loader
  &, &:before, &:after
    +animation-name(thumb-loader-dot-alt)


// NEW PLAYLIST GUIDE
.new-playlist-guide
  font-size: 18px
  line-height: 1.4em
  margin: 70px 0 20px
  .guide-title
    font-weight: bold
    text-align: center
    margin-bottom: 10px
  .guide-steps
    list-style: none
    font-size: 1em
    line-height: 1.8em
    margin: 0 auto
    padding-left: 20px
    width: 180px
  a
    cursor: pointer
    color: $brand-primary
    position: relative
    &:hover
      color: darken($brand-primary, 10%)
    &:focus, &:active
      color: darken($brand-primary, 12%)
    &[disabled]
      color: #000 !important
      cursor: auto
    &:not([disabled])
      &:before
        content: "+"
        +square(24px)
        padding: 0px
        line-height: 24px
        border-radius: 100%
        background-color: $brand-primary
        position: absolute
        left: -32px
        top: 50%
        margin-top: -12px
        font-size: 14px
        font-weight: bold
        text-align: center
        color: white

// LISTING PAGE THUMBNAILS
.listing-thumb
  @extend .panel
  overflow: hidden
  cursor: pointer

.listing-thumb-poster
  position: relative
  .file-thumb-image,
  .file-thumb-placeholder
    +ratio-box(180/220)
    outline-color: #fff
    &:after
      $gradient-from: rgba(#000, 0) 0%
      $gradient-to: rgba(#000, 0.2) 100%
      +background-image(linear-gradient(to bottom, $gradient-from, $gradient-to))
  .file-thumb-placeholder
    span
      color: #666
      font-size: 1em

.listing-thumb-title
  position: absolute
  bottom: 0
  left: 0
  right: 0
  padding: 15px 25px
  color: #fff
  font-size: 18px
  line-height: 22px
  word-wrap: break-word

.listing-thumb-actions
  height: 54px
  line-height: 54px
  font-size: 12px
  a
    cursor: pointer
    padding-left: 15px
    padding-right: 15px
    &:focus,
    &.focus,
    &:hover
      color: $brand-primary
    &:active,
    &.active
      color: darken($brand-primary, 12%)
  .fa
    font-size: 16px
    display: inline-block
    vertical-align: middle
    margin: -4px 2px 0 0

// THUMBS LISTING LAYOUT
.thumbnails-list-layout
  $gap-horizontal: 20px
  $gap-vertical: 16px
  +thumbs-row-gap($gap-horizontal, $gap-vertical)
  thumbs-col
    +thumbs-col-gap($gap-horizontal, $gap-vertical)


// LEAFLETS VIEWER
leaflet-viewer
  display: block

.leaflet-viewer-body
  position: relative
  .col-xs-2
    position: absolute
    top: 0
    bottom: 0
    left: 0
  .col-xs-10
    float: right

.leaflet-viewer-header,
.leaflet-viewer-footer
  padding: 6px 0
  line-height: 34px

.leaflet-viewer-pages
  list-style: none
  height: 100%
  padding: 0
  overflow: auto
  margin: 0
  padding: 0 0 1px 1px
  &[disabled]
    pointer-events: none
  li + li
    margin-top: 6px
  .btn-tooltip-top
    margin-top: 8px
    margin-bottom: 8px
    &:not([disabled])
      pointer-events: initial

.leaflet-viewer-carrousel
  +ratio-box(450/600)
  @extend .file-thumb-placeholder
  border: 1px solid rgba(119, 119, 119, 0.5)
  outline: none

  .file-thumb-loader,
  .choose-file
    font-size: 1em

  .choose-file
    h4
      position: absolute
      bottom: 100%
      left: 50%
      +translateX(-50%)
      margin: 0 0 20px
      white-space: nowrap

  ul[rn-carousel]
    +absolute-full
    margin: 0
    li
      padding: 20px

  .rn-carousel-control
    @extend .btn
    @extend .btn-icon-only
    @extend .btn-black
    @extend .fa
    top: 50%
    +translateY(-50%)
    +square(28px)
    border-radius: 100%
    line-height: 14px
    &.rn-carousel-control-next
      @extend .fa-chevron-right
      right: 15px
      padding-right: 0 !important
    &.rn-carousel-control-prev
      @extend .fa-chevron-left
      left: 15px
      padding-left: 0 !important
    &:hover
      background-color: $brand-primary !important
      border-color: $brand-primary !important

  aspect-ratio-container
    height: 100%

  .file-thumb-placeholder,
  .file-thumb-image
    outline: none
    cursor: auto

  .file-thumb-image
    background-size: contain
    background-repeat: no-repeat
    background-position: center

// ----------------
// PAGES
// ----------------
.redactor-box
  border: 1px solid $input-border
  border-radius: $border-radius

.redactor-toolbar
  z-index: 1000 !important

.featured-image
  img
    width: 100%
    height: auto
    margin-bottom: 10px

// ----------------
// DASHBOARD
// ----------------

.panel
  &.public-activity
    margin-bottom: 15px !important
    .panel-body
      height: 230px
      overflow-y: scroll
      padding: 0 10px 0 15px
      margin-bottom: 10px

      table
        td.user-image
          width: 42px

      a, .highlight
        color: #000
        font-weight: 700

      .date
        color: #aaa


//
// CMS
//
cms-layout-switcher
  i.fa.fa-caret-down
    padding-top: 3px
    margin-left: 0

  .icon
    background: transparent
    width: 27px
    height: 15px
    margin-top: 2px
    .icon-piece
      background: $brand-info
      height: 100%
      float: left
    .left-side
      border-right: 1px solid #fff

  .dropdown-toggle
    width: 116px
    padding-left: 10px
    padding-right: 3px
    .icon
      .icon-piece
        background: #fff
      .left-side
        border-right-color: $brand-info
  .dropdown-menu
    margin-left: 1px
    min-width: 114px
    li
      .icon
        margin-right: 6px
      a
        padding-left: 13px
      &.current
        a
          color: $brand-primary
        .icon
          .icon-piece
            background: $brand-primary

.cms
  height: 100%
  .row
    height: 100%
    .left-panel, .right-panel
      height: 100%
      .panel
        height: 100%

  .nav-tabs li a
    text-align: left
    font-size: 16px
    padding: 15px 20px

  .left-panel
    .panel-heading
      font-size: 16px
      padding: 15px 20px
      .new-root-btn
        margin: 0
        padding: 0

    .no-nodes-wrapper
      +absolute-full
      .no-nodes
        +absolute-center
        .btn
          border: 1px solid #ccc
          padding: 15px 30px
          line-height: initial
          color: #000
          margin-top: 25px

  .right-panel
    .panel-heading
      padding: 0
      border: 0
      .tabset, .tab-content, .tab-pane, .tabbable
        height: 100%

      ul.nav.nav-tabs
        li
          border-bottom: 1px solid #ddd
          a
            color: #333
          &:hover
            a
              color: $brand-primary
              background: #fff
          &.active
            a
              color: #fff
              background: $brand-primary

          &:first-child
            a
              border-top-right-radius: 0
          &:last-child
            a
              border-top-left-radius: 0

.pages-table
  .publish-state
    text-align: right

.collapser
  &:hover
    cursor: pointer
    color: $brand-primary

  i.fa-chevron-down
    color: $brand-primary

flippy
  width: 100%
  height: 100%
  padding-bottom: 218px

  .panel
    height: 100%

.panel-page-card
  .panel-action
    padding: 8px
    color: #bbb

    &:hover
      cursor: pointer
      color: #888

  .card-image-bg
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    height: 170px
    color: white
    position: relative
    margin: -15px -20px 0 -20px

    h4
      position: absolute
      bottom: 0
      margin: 10px 20px
      height: 50px

  .card-ellipsis
    overflow: hidden
    text-overflow: ellipsis

  .card-headline
    margin-bottom: 10px
    font-size: 0.8em
    color: $gray
    height: 57px

  .card-actions
    font-size: 0.8em
    padding: 10px 0

    span, i.fa
      padding-left: 0 !important
      padding-right: 0 !important

    a:hover
      cursor: pointer
      color: $brand-primary

    span:first-child
      text-align: left

    span:last-child
      text-align: right

  .card-info
    border-top: 1px solid #aaa
    border-bottom: 1px solid #aaa
    padding: 5px 0
    color: #aaa
    font-size: 0.8em

    & + .card-info
      border-top-style: none

  h4
    height: 50px

    &.truncate
      height: 40px
