// ========================
// COMPASS
// ========================

@import "compass/css3/images"
@import "compass/css3/transform"
@import "compass/css3/images"
@import "compass/css3/animation"
@import "compass/css3/appearance"

// ========================
// VARIABLES
// ========================

@import "variables"

// ========================
// BOOTSTRAP
// ========================

@import "bootstrap-variables"
@import "bootstrap-custom"

// ========================
// BASE
// ========================

@import "fonts"
@import "icons"
@import "helpers"
@import "animations"


// ========================
// APP
// ========================

*:focus
  outline: none !important

.text-spaced
  letter-spacing: 0.1em

.text-highlight
  color: $golden-nav-hover
  font-weight: 600

.text-curly
  font-family: $font-family-serif
  font-style: italic

.text-main
  line-height: 32/17 * 1em
  @media #{$xs-only}
    font-size: 12px
  @media #{$sm-up}
    font-size: 17px

.text-light
  color: #a7a7a7

.text-dark
  color: #555555

.btn-main
  @extend .text-spaced
  border: none
  font-weight: 700
  text-transform: uppercase
  &, &:active, &.active
    box-shadow: 0px 0px 2px 0px rgba(#000, 0.5)
  @media #{$xs-only}
    $scale: 10/14
    +button-size($scale * 18px, $scale * 20px, $scale * 14px, $scale * 16px, $scale * 5px)
    width: 265px
    max-width: 414/500 * 100%
  @media #{$sm-up}
    +button-size(18px, 20px, 14px, 16px, 5px)
    width: 414px

.btn-golden-gradient
  +button-variant(#000, $golden-gradient-middle, $golden-gradient-middle)
  +golden-gradient
  &:hover, &:focus, &:active, &.active
    +golden-gradient-hover

.btn-black-gradient
  +button-variant(#fff, $black-gradient-middle, $black-gradient-middle)
  +black-gradient
  &:hover, &:focus, &:active, &.active
    +black-gradient-hover

.brownish-dot
  font-family: $font-family-serif
  color: $golden-brownish
  &:after
    content: "."

.little-line
  border-color: $golden-brownish
  @media #{$xs-only}
    width: 30px
  @media #{$sm-up}
    width: 55px
    margin-bottom: 38px
    .section-title + &
      margin-top: 38px

.section-title
  @media #{$xs-only}
    font-size: 18px

.container-extended-more
  @extend .container
  width: 1354px
  max-width: 100%

.container-extended
  @extend .container
  width: 1200px
  max-width: 100%

.scroll-to-top
  position: fixed
  z-index: 10
  right: 25px
  bottom: 25px
  font-size: 7px
  padding-top: 46px + 6px
  text-transform: uppercase
  color: $golden-nav-hover !important
  text-decoration: none !important
  opacity: 0.5
  transition: opacity $transition-default
  &:hover
    opacity: 1
  &:after,
  &:before
    content: ""
    border: 2px solid $golden-nav-hover
    position: absolute
    top: 0
    left: 50%
  &:after
    @extend .text-spaced
    display: block
    +square(46px)
    border-radius: 50%
    +translateX(-50%)
  &:before
    +square(8px)
    border-left: none
    border-bottom: none
    +transform(translate(-50%, -50%) rotate(-45deg))
    margin-top: 25px
  &.ng-hide
    display: block !important
    opacity: 0
    pointer-events: none


// ----------------
// NAVBAR
// ----------------

.navbar-toggle
  z-index: 1
  border: none !important
  background: rgba(#000, 0.5) !important
  transition: background-color $transition-default
  > .icon-bar
    transition: transform $transition-default
  &.is-close-btn
    background: transparent !important
    > .icon-bar
      &.top-bar
        +transform(translateY(6px) rotate(-45deg))
      &.mid-bar
        +rotate(45deg)
      &.bottom-bar
        +transform(translateY(-6px) rotate(-45deg))

.navbar-fixed-top
  border: none

  .container,
  .container-fluid,
    position: relative

  .navbar-toggle
    cursor: pointer

  .navbar-nav
    > li > a
      text-transform: uppercase
      font-size: 12px
      font-weight: 700
      padding-left: 1/2 * 60px
      padding-right: 1/2 * 60px
      transition: color $transition-default, background-color $transition-default
      cursor: pointer

  &.ng-animate
    .navbar-nav
      > li > a
        background: transparent !important

  @media #{$topbar-collapsed}
    position: fixed
    background: none
    height: 0
    .navbar-brand
      display: none
    .navbar-collapse
      border: none
      background: #1b1a1a
      padding-top: 30px
      padding-bottom: 30px
      box-shadow: none
      position: fixed
      left: 100%
      top: 0
      bottom: 0
      max-height: none
      height: 100% !important
      width: 230px
      text-align: center
      overflow: auto
      margin: 0
      transition: transform $transition-default
      +translateX(0)
      &.in
        +translateX(-100%)
    .navbar-nav
      > li > a
        background: none !important
        font-size: 12px
        color: $golden-nav
        &:hover,
        &:focus,
        &:active,
        &.active
          color: $golden-nav-hover


  @media #{$topbar-not-collapsed}
    position: absolute
    margin-top: 12px

    .navbar-collapse
      position: absolute
      left: 0
      right: 0
      text-align: center
    .navbar-nav
      float: none !important
      display: inline-block
      margin: 0 auto

    &:before
      content: ""
      display: block
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      box-shadow: 0 2px 5px 0px rgba(#000, 0.2)
      opacity: 0

    .navbar-brand
      padding-top: 0
      padding-bottom: 0
      line-height: $navbar-height
      opacity: 0
      pointer-events: none
      img
        display: inline-block
        width: 42px
        height: 47px
        margin-top: -3px

  @media #{$sm-up}
    .navbar-nav
      margin-left: 0
      margin-right: 0
      > li > a
        text-transform: uppercase
        font-size: 12px
        font-weight: 700
        padding-left: 1/2 * 34px
        padding-right: 1/2 * 34px

  @media #{$md-up}
    .navbar-nav
      > li > a
        text-transform: uppercase
        font-size: 12px
        font-weight: 700
        padding-left: 1/2 * 62px
        padding-right: 1/2 * 62px

.navbar-inverse,
.navbar-inverse-add,
.navbar-inverse-remove
  position: fixed
  margin: 0

  .navbar-nav
    > li > a
      position: relative
      &:before
        content: ""
        display: block
        position: absolute
        z-index: -1
        top: 0
        bottom: 0
        left: 0
        right: 0
        +golden-gradient
        opacity: 0
        transition: opacity $transition-default
    > li.active > a
      &:before
        opacity: 1

  @media #{$topbar-not-collapsed}
    .navbar-collapse
      position: static
    .navbar-nav
      float: right !important

    &:before
      opacity: 1

    .navbar-brand
      opacity: 1
      pointer-events: initial

.intro-nav-btn
  @media #{$topbar-collapsed}
    img
      width: 120px
      margin: 15px 0
  @media #{$topbar-not-collapsed}
    display: none !important


// ----------------
// SECTIONS
// ----------------

section
  +clearfix
  position: relative
  overflow: hidden
  @media #{$xs-only}
    padding: 25px 10px 50px
  @media #{$sm-up}
    padding: $section-padding-lg 30px

.section-black
  color: #ffffff
  background: #000000

.section-white
  color: #000000
  background: #f6f6f6

.section-gray
  color: #ffffff
  background: #222222

.section-gray-lighter
  color: #ffffff
  background: #252525

.section-gray-darker
  color: #ffffff
  background: #141414

.section-silver
  color: #000000
  background: #cfcfcf

.section-watermark
  background-repeat: no-repeat
  background-position: center
  background-image: url('../img/watermark.png')
  @media #{$xs-only}
    background-size: 270px auto
  @media #{$sm-up}
    background-size: 500px auto
  @media #{$lg-up}
    background-size: 679px auto


// ----------------
// INTRO
// ----------------

#intro
  @media #{$xs-only}
    min-height: 480px
  @media #{$sm-up}
    min-height: 800px
  @media #{$lg-up}
    min-height: 900px

  .intro-content
    position: absolute
    left: 0
    right: 0

  @media #{$xs-only}
    background-position: center 33%
    .intro-content
      top: 33%
      +translateY(-40px)
  @media #{$sm-up}
    background-position: center 33%
    .intro-content
      top: 33%
      +translateY(-80px)
  @media #{$lg-up}
    background-position: center
    .intro-content
      top: 50%
      +translateY(-50%)

.intro-logo
  display: block
  @media #{$xs-only}
    width: 1/2 * 376px
    margin: 0 auto
  @media #{$sm-up}
    width: 368px
    margin: 0 auto
  @media #{$lg-up}
    margin-top: 30px

.intro-header
  text-transform: uppercase
  font-weight: 600
  line-height: 28/20 * 1em
  @media #{$xs-only}
    font-size: 20px
    margin: 25px 0 25px
  @media #{$sm-up}
    font-size: 50px
    margin: 40px 0 36px
    line-height: 1.2em
  @media #{$lg-up}
    font-size: 60px
    line-height: 70px
    margin: 40px 60px 20px

.intro-subheader
  font-weight: 400
  text-transform: uppercase
  line-height: 2em
  margin-bottom: 2em
  strong
    font-size: 24/18 * 1em
  @media #{$xs-only}
    font-size: 9px
  @media #{$sm-up}
    font-size: 14px
  @media #{$lg-up}
    font-size: 18px

.scroll-indicator
  position: absolute
  left: 50%
  +translateX(-50%)
  .scroll-indicator-bounce
    height: 43/10 * 1em
    line-height: 50/10 * 1em
    font-weight: 700
    background: url("../img/mouse_icon.png") no-repeat center
    background-size: contain
    +animation(scroll-indicator-bounce 2s infinite)
    &:after
      content: "Scroll Down"
      text-transform: uppercase
      color: rgba(#ffffff, 0.5)
      @extend .text-spaced

  @media #{$xs-only}
    bottom: 20px
    .scroll-indicator-bounce
      font-size: 6px
  @media #{$sm-up}
    bottom: 30px
    .scroll-indicator-bounce
      font-size: 10px


// ----------------
// ABOUT US
// ----------------

.text-about
  margin-bottom: 2em


// ----------------
// HOW DO YOU WORK
// ----------------

#how-do-you-work
  @media #{$sm-up}
    padding: $section-padding-lg 0

.fig-1
  @media #{$xs-only}
    margin-top: 5px
  @media #{$sm-up}
    margin-top: -10px
    margin-bottom: 20px
  @media #{$md-up}
    background: url("../img/figure1_arrow.png") no-repeat, url("../img/figure1_arrow.png") no-repeat
    background-position: 30.4% 100px, 72.5% 100px
    background-size: 209/1172 * 100%

.fig-1-step
  text-align: center
  &:after
    content: ""
    display: block
    +square(40px)
    margin: 0 auto
    background: url("../img/figure1_arrow.png") no-repeat right center
    background-size: 180%
    +rotate(90deg)
    margin-bottom: -6px
  &.fig-1-step-3:after
    display: none
  &.fig-1-step-2:after
    margin-bottom: 6px
  @media #{$xs-only}
    max-width: 320px
    margin: 0 auto
  @media #{$sm-only}
    &:after
      margin-top: 15px
      +square(60px)
  @media #{$md-up}
    &:after
      display: none

.fig-1-pictogram
  background-position: center
  background-repeat: no-repeat
  position: relative
  &:after
    position: absolute
    left: 50%
    display: block
    +golden-gradient
    border-radius: 100%
    font-weight: 700
  .fig-1-step-1 &
    background-image: url("../img/figure1_step1.png")
    background-position: 55% center
    &:after
      content: "1"
  .fig-1-step-2 &
    background-image: url("../img/figure1_step2.png")
    background-position: 53% center
    &:after
      content: "2"
  .fig-1-step-3 &
    background-image: url("../img/figure1_step3.png")
    background-position: center
    &:after
      content: "3"

  @media #{$xs-only}
    $scale: 29/100
    height: $scale * 330px
    max-width: 240px
    margin: 0 auto
    &:after
      +square(38px)
      font-size: 24px
      line-height: 34px
      margin-left: -80px
      top: 22px
    .fig-1-step-1 &
      background-size: $scale * 282px auto
      &:after
        content: "1"
    .fig-1-step-2 &
      background-size: $scale * 250px auto
      margin-bottom: -10px
      &:after
        content: "2"
    .fig-1-step-3 &
      background-size: $scale * 204px auto
      &:after
        content: "3"

  @media #{$sm-only}
    $scale: 40/100
    height: $scale * 330px
    margin: 0 auto
    &:after
      +square(44px)
      font-size: 28px
      line-height: 38px
      margin-left: -100px
      top: 32px
    .fig-1-step-1 &
      background-size: $scale * 282px auto
      &:after
        content: "1"
    .fig-1-step-2 &
      background-size: $scale * 250px auto
      margin-bottom: -20px
      &:after
        content: "2"
    .fig-1-step-3 &
      background-size: $scale * 204px auto
      &:after
        content: "3"

  @media #{$md-up}
    height: 1/2 * 330px
    &:after
      position: absolute
      left: 50%
      display: block
      +square(68px)
      +golden-gradient
      border-radius: 100%
      font-size: 45px
      line-height: 62px
      font-weight: 700
    .fig-1-step-1 &
      background-image: url("../img/figure1_step1.png")
      background-size: 1/2 * 282px auto
      background-position: 55% center
      &:after
        content: "1"
        margin-left: -142px
    .fig-1-step-2 &
      background-image: url("../img/figure1_step2.png")
      background-size: 1/2 * 250px auto
      background-position: 53% center
      &:after
        content: "2"
        margin-left: -142px
    .fig-1-step-3 &
      background-image: url("../img/figure1_step3.png")
      background-size: 1/2 * 204px auto
      background-position: center
      &:after
        content: "3"
        margin-left: -143px
        font-size: 40px
        line-height: 56px


.fig-1-title
  text-transform: uppercase
  line-height: 1.25em
  @media #{$xs-only}
    font-size: 13px
    font-weight: 600
    margin: 10px 0 8px
  @media #{$sm-up}
    margin: 10px 0 14px
  @media #{$md-up}
    margin-top: 30px

.fig-1-text
  line-height: 24/13 * 1em
  @media #{$xs-only}
    font-size: 12px
  @media #{$sm-up}
    font-size: 13px


// ----------------
// BENEFITS
// ----------------

#benefits-of-diplomatic-card
  @media #{$xs-only}
    background-position: center 120px

.benefits-list
  text-align: center
  > *
    display: inline-block
    vertical-align: top
    float: none
    text-align: left
  @media #{$xs-only}
    margin-bottom: -10px
  @media #{$sm-up}
    margin-top: 50px

.benefit-item
  position: relative
  @media #{$xs-only}
    text-align: center
    max-width: 320px
    margin: 0 auto 30px
  @media #{$sm-up}
    padding-left: 50px
    margin-bottom: 40px

.benefit-icon
  width: 52px
  height: 40px
  background-repeat: no-repeat
  background-position: center
  @media #{$xs-only}
    margin: 0 auto 10px
  @media #{$sm-up}
    position: absolute
    top: -6px
    left: -6px

.benefit-icon-drop
  background-image: url("../img/drop_icon.png")
  background-size: 1/2 * 40px

.benefit-icon-file
  background-image: url("../img/file_icon.png")
  background-size: 1/2 * 44px

.benefit-icon-resize
  background-image: url("../img/resize_icon.png")
  background-size: 1/2 * 44px

.benefit-icon-pin
  background-image: url("../img/pin_icon.png")
  background-size: 1/2 * 37px

.benefit-icon-eye
  background-image: url("../img/eye_icon.png")
  background-size: 1/2 * 60px

.benefit-icon-card
  background-image: url("../img/card_icon.png")
  background-size: 1/2 * 53px

.benefit-icon-db
  background-image: url("../img/db_icon.png")
  background-size: 1/2 * 44px

.benefit-title
  font-size: 15px
  font-weight: 700
  margin-bottom: 14px
  @media #{$xs-only}
    font-size: 13px
  @media #{$sm-up}
    font-size: 15px

.benefit-text
  line-height: 20/14 * 1em
  @media #{$xs-only}
    font-size: 12px
  @media #{$sm-up}
    font-size: 14px

// ----------------
// HOW DO WE WORK
// ----------------

.fig-2
  background-size: contain !important
  @media #{$xs-only}
    +ratio-box(793/327)
    background: url("../img/figure2_mobile.png") no-repeat center
    width: 60%
    margin: 10px auto
    max-width: 320px
  @media #{$sm-up}
    +ratio-box(350/1162)
    background: url("../img/figure2.png") no-repeat 15% center
    margin-top: -24px
    margin-bottom: 40px
  @media #{$sm-only}
    background-position: center


// ----------------
// OUR TEAM
// ----------------

.team-members-list
  list-style: none
  padding: 0
  margin: 0
  > .li
    display: inline-block
    padding: 1px
  @media #{$xs-up}
    text-align: center
    margin-top: 10px
    > .li
      width: 100%
      padding-left: 10px
      padding-right: 10px
      max-width: 270px
  @media #{$lg-up}
    > .li
      width: 1/5 * 100%
      max-width: none
      padding-left: 1px
      padding-right: 1px

.team-member
  position: relative
  +ratio-box(287/269)
  background: #c0c0c0
  border: 1px solid #ccc
  &:before
    content: ""
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 1
    background: transparent
    transition: background-color $transition-default
  &:hover:before
    background: rgba(#000, 0.3)
  @media #{$xs-up}
    margin-bottom: 50px
  @media #{$lg-up}
    margin-bottom: 0


.team-member-pic
  display: block
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%

.team-member-description
  position: absolute
  bottom: -30px
  left: 20px
  right: 20px
  background-color: rgba(#ffffff, 0.95)
  border: 1px solid transparent
  transition: border-color $transition-default, background-color $transition-default, height $transition-default
  z-index: 1
  text-align: center
  overflow: hidden
  .team-member:hover &
    background-color: #ffffff
    border-color: #d1d1d1
    height: 260px
    .description-body
      opacity: 1

  .description-header
    h5
      text-transform: uppercase
  .description-body
    transition: opacity $transition-default
    padding: 10px 20px
    opacity: 0

  @media #{$xs-up}
    height: 65px
    .description-header
      padding: 12px 5px 10px
      h5, p
        margin: 4px 0
      h5
        font-size: 12px
      p
        font-size: 11px
    .description-body
      h5, p
        font-size: 11px

  @media #{$lg-up}
    height: 80px
    .description-header
      padding: 16px 5px 10px
      h5, p
        margin: 5px 0
      h5
        font-size: 13px
      p
        font-size: 12px
    .description-body
      margin-top: -4px
      h5, p
        font-size: 12px
    &.compact
      .description-header
        padding: 16px 5px 0px


// ----------------
// PARTNERS
// ----------------

.partners-list
  @media #{$sm-up}
    margin-top: 30px
    margin-bottom: 60px

.partner-item
  display: block
  color: #000 !important
  text-decoration: none !important
  cursor: pointer
  @media #{$xs-only}
    margin: 10px 0

.partner-logo
  img
    display: inline-block
    vertical-align: middle
  @media #{$xs-only}
    $scale: 60/100
    height: 80px
    line-height: 80px
    &.allstar img
      width: $scale * 209px
    &.embassy img
      width: $scale * 226px
  @media #{$sm-up}
    height: 140px
    line-height: 140px

.partner-title
  font-weight: 700
  @media #{$xs-only}
    font-size: 14px
  @media #{$sm-up}
    font-size: 21px




// ----------------
// NEWS
// ----------------

.news-list
  list-style: none
  padding: 0
  margin: 0
  > .li
    vertical-align: top
  @media #{$xs-up}
    > .li
      display: block
      margin-left: auto
      margin-right: auto
      width: 100%
      max-width: 320px
  @media #{$sm-up}
    > .li
      display: inline-block
      padding: 1px
      max-width: 420px
  @media #{$md-up}
    > .li
      display: inline-block
      width: 1/3 * 100%

.news-item
  cursor: pointer
  margin-bottom: $grid-gutter-width

.news-item-pic
  +ratio-box(250/400)
  background: #c0c0c0
  position: relative
  img
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.news-item-info
  position: absolute
  bottom: 0
  left: 0
  opacity: 0.8
  transition: opacity $transition-default
  .news-item:hover &
    opacity: 1

.news-item-date
  background: #fff
  display: inline-block
  line-height: 1em
  font-weight: 700
  text-transform: uppercase
  .day, .month
    display: block
  @media #{$xs-only}
    +square(54px)
    .day
      font-size: 24px
      margin: 14px 0 6px
    .month
      font-size: 9px
  @media #{$sm-up}
    +square(75px)
    .day
      font-size: 30px
      margin: 22px 0 10px
    .month
      font-size: 11px

.news-item-readmore
  color: #ffffff
  background: $golden-nav-hover
  height: 2em
  line-height: 20/9 * 1em
  text-transform: uppercase
  @media #{$xs-only}
    font-size: 8px
  @media #{$sm-up}
    font-size: 9px

.news-item-description
  padding: 14px
  h5
    text-transform: uppercase


// ----------------
// CONTACT
// ----------------

.contact-form
  .form-group
    +clearfix
    position: relative
  .form-control
    font-weight: 600
    border-color: rgba(#fff, 0.2)
    // margin: 0
    &:focus
      outline: none !important
      box-shadow: none
      border-color: rgba(#fff, 0.9)
    &.mce_inline_error
      color: $brand-danger
  input, select
    border-top-color: transparent !important
    border-left-color: transparent !important
    border-right-color: transparent !important
  .control-label
    position: absolute
    left: 0px
    +translateY(-50%)
    pointer-events: none
    color: rgba(#fff, 0.5)
    font-weight: 600
  select
    +appearance(none)
    option
      color: #000
  textarea
    resize: none

  @media #{$xs-only}
    margin-top: 10px
    max-width: 320px
    margin-left: auto
    margin-right: auto
    textarea
      height: 100px !important
      margin-top: 30px
    .control-label
      top: 16px
    .form-group
      margin-bottom: 24px
    .control-label,
    .form-control
      font-size: 12px
    .control-label
      top: 14px
    .form-control
      height: auto
      padding-top: 5px
      padding-bottom: 5px
      &:not(textarea)
        padding-left: 50px
        padding-right: 0
      &.mce_inline_error
        margin-bottom: 14px
      &#mce-FNAME
        padding-left: 80/100 * 62px
      &#mce-LNAME
        padding-left: 80/100 * 84px
      &#mce-EMAIL
        padding-left: 80/100 * 66px
      &#mce-PNUMBER
        padding-left: 80/100 * 66px
      &#mce-ORG
        padding-left: 80/100 * 116px
    button[type=submit]
      display: block
      margin: 10px auto 20px

  @media #{$sm-up}
    margin-top: 10px
    textarea
      height: 148px !important
      margin-top: 40px
    .control-label
      top: 20px
    .form-group
      margin-bottom: 34px
    .control-label,
    .form-control
      font-size: 16px
    .form-control
      height: auto
      padding-top: 8px
      padding-bottom: 8px
      &:not(textarea)
        padding-left: 60px
        padding-right: 0
      &#mce-FNAME
        padding-left: 62px
      &#mce-LNAME
        padding-left: 84px
      &#mce-EMAIL
        padding-left: 66px
      &#mce-PNUMBER
        padding-left: 66px
      &#mce-ORG
        padding-left: 116px
    button[type=submit]
      margin: 30px 0 50px

div.mce_inline_error
  position: absolute
  background: $brand-danger !important
  border-radius: $border-radius-small
  width: auto
  top: 100%
  left: 0
  right: 0
  margin: -3px -6px !important
  font-weight: 400 !important
  &:before
    content: ""
    background: inherit
    display: block
    +square(6px)
    position: absolute
    top: 0
    left: 20px
    +transform(translateY(-50%) rotate(45deg))
  @media #{$xs-only}
    font-size: 10px
    padding: 6px 12px !important
    margin-top: -15px !important
  @media #{$sm-up}
    font-size: 12px
    padding: 9px 18px !important

#mce-success-response,
#mce-error-response
  @extend .text-main
  background: #ffffff
  border-radius: $border-radius-base
  padding: 20px
  text-align: center
#mce-success-response
  color: $brand-success
#mce-error-response
  color: $brand-danger

.contact-item
  display: inline-block
  text-align: right
  position: relative
  color: rgba(#fff, 0.6)
  a
    text-decoration: none
  @media #{$xs-only}
    text-align: center
    margin-bottom: 20px
  @media #{$sm-only}
    text-align: center
    margin-bottom: 20px
  @media #{$md-up}
    text-align: right
    margin-bottom: 30px
    margin-right: 30px
    min-height: 76px

.contact-icon
  background-position: center
  background-repeat: no-repeat
  &.contact-icon-pin
    background-image: url("../img/contact_pin.png")
    background-size: 8px auto
  &.contact-icon-mail
    background-image: url("../img/contact_mail.png")
    background-size: 14px auto
  &.contact-icon-phone
    background-image: url("../img/contact_phone.png")
    background-size: 12px auto
  @media #{$xs-only}
    +square(20px)
    display: inline-block
  @media #{$sm-only}
    +square(30px)
    display: inline-block
  @media #{$md-up}
    width: 40px
    height: 80px
    position: absolute
    left: 100%
    top: 50%
    +translateY(-50%)
    margin-left: 20px
    border-left: 1px solid rgba(#fff, 0.3)

.contact-label
  font-weight: 600
  color: rgba(#fff, 1)
  @media #{$xs-only}
    font-size: 14px
    margin-bottom: 0.2em
    .contact-phone + &,
    .contact-text + &
      margin-top: 0.5em
  @media #{$sm-only}
    font-size: 14px
    margin-bottom: 0.2em
    .contact-phone + &,
    .contact-text + &
      margin-top: 0.5em
  @media #{$md-up}
    font-size: 14px
    .contact-phone + &,
    .contact-text + &
      margin-top: 0
    &.say-hello
      padding-top: 1em

.contact-text
  @media #{$xs-only}
    font-size: 14px
  @media #{$sm-up}
    font-size: 14px

.contact-phone
  @media #{$xs-only}
    font-size: 18px
  @media #{$sm-up}
    font-size: 22px
    margin-top: -10px


// ----------------
// MAP
// ----------------

#map
  padding: 0

.btn-map
  @extend .btn-main
  border-radius: 0
  text-transform: none
  letter-spacing: 0
  position: relative
  cursor: pointer
  &:before
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: 0
    background: url("../img/map_pin_icon.png") no-repeat center
    background-size: 17/60 * 100% auto

  @media #{$xs-only}
    width: 90px
    padding-left: 30px
    &:before
      width: 36px
  @media #{$sm-up}
    font-size: 18px
    line-height: 24px
    width: auto
    padding-left: 50px
    padding-right: 25px
    &:before
      width: 60px

.btn-x
  position: absolute
  top: 0
  left: 100%
  .icon-bar
    border-top: solid $golden-nav-hover
    position: absolute
    top: 50%
    left: 50%
    width: 50%
    &:first-child
      +transform(translate(-50%, -50%) rotate(45deg))
    &:last-child
      +transform(translate(-50%, -50%) rotate(-45deg))
  @media #{$xs-only}
    +square(36px)
    .icon-bar
      border-top-width: 1px
  @media #{$sm-up}
    +square(60px)
    .icon-bar
      border-top-width: 2px

.map-container
  display: block !important
  height: 0
  overflow: hidden

.angular-google-map-container
  @media #{$xs-only}
    height: 340px
  @media #{$sm-up}
    height: 440px

// ----------------
// FOOTER
// ----------------

#footer
  p
    font-size: 11px
    color: #aaaaaa
    margin: 0
  a
    color: inherit
    text-decoration: none
    &:hover, &:focus, &:active, &.active
      color: $golden-nav-hover

  @media #{$xs-only}
    padding-top: 30px
    padding-bottom: 20px
    p
      font-size: 9px
  @media #{$sm-up}
    padding-top: 70px
    padding-bottom: 40px

.social-icons-list
  list-style: none
  padding: 0
  > li
    display: inline-block
    margin: 0 2px
  @media #{$xs-only}
    margin: 16px 0 0
  @media #{$sm-up}
    margin: 36px 0 0

.social-icon
  display: inline-block
  border: 1px solid rgba(#474747, 0.4)
  border-radius: 50%
  background: url("../img/social_icons.png") no-repeat left
  background-size: cover
  transition: border-color $transition-default
  &:hover
    border-color: #474747
  &.email
    background-position: 0% center
  &.twitter
    background-position: 75% center
  @media #{$xs-only}
    +square(36px)
  @media #{$sm-up}
    +square(36px)




// ----------------
// FAQ
// ----------------

.modal-open
  overflow: auto

.modal-dialog
  position: fixed
  top: 50%
  left: 50%
  margin: 0
  transform: translate(-50%, -60%) !important
  .in &
    transform: translate(-50%, -50%) !important
  @media #{$xs-only}
    width: 90%
  @media #{$sm-only}
    width: 90%

.modal-content
  border-radius: 0
  box-shadow: none
  border: none
  margin: 0
  .modal-header
    padding-bottom: 0
  .modal-body
    padding-top: 0
    h4
      &:not(:first-child)
        margin-top: 1.4em
  .modal-scroll-area
    overflow: auto
  .close
    position: absolute
    margin-top: -0.35em
    font-size: 28px
  @media #{$xs-only}
    .close
      top: 20px
      right: 20px
    .modal-header
      padding-top: 15px
    .modal-body
      padding-left: 10px
      padding-right: 10px
      padding-bottom: 20px
      h4
        font-size: 14px
      p
        font-size: 14px
    .modal-scroll-area
      padding: 0 10px


  @media #{$sm-up}
    .close
      top: 30px
      right: 30px
    .modal-body
      h4
        font-size: 18px
      p
        font-size: 16px
    .modal-scroll-area
      padding: 0 30px
      height: 500px
      margin-bottom: 20px

  @media #{$sm-only}
    .modal-body
      padding-left: 40px
      padding-right: 40px

  @media #{$lg-up}
