.prompt-modal
  .close-modal ng-click="dismiss()"
    i.fa.fa-close

  h2.title
    | {{station.id ? 'Edit station' : 'Authorize a station'}}

  form#theform.clearfix ng-submit="next()"
    .step ng-show="step == 'loading'"
      p.text-center Loading station data, this may take a few seconds...

    .form-group ng-show="step == 'enter-pin'"
      alert.alert-danger ng-show="errorMsg"
        | {{errorMsg}}
      .row
        .col-xs-6.col-xs-offset-3
          label.control-label PIN from station
          input.form-control type="number" ng-model="pin" placeholder="e.g., 1234"


    .step ng-show="step == 'enter-details'"
      .form-group
        label.control-label Station name
        input.form-control ng-model="station.name" placeholder="Give a name to your station"

      .form-group.pin ng-hide="station.id"
        label.control-label PIN number
        input.form-control ng-model="pin" ng-disabled="true"

      .form-group--plain
        label.control-label Connect to Playlist
        ui-select.station-select ng-model="station.assigned_item_id"
          ui-select-match placeholder="Choose a playlist for this station" allow-clear='true'
            | {{$select.selected.name}}
          ui-select-choices repeat="playlist.id as playlist in playlists | filter: $select.search"
            span
              | {{playlist.name}}


  .footer ng-hide="step == 'loading'"
    button.btn.btn-primary active-submit="true" ng-disabled="disableSubmit()" form="theform" {{texts[step]}}
    button.btn.btn-danger.delete-button active-submit="" ng-click="delete()" ng-if="station.id" Delete