.page-title-placeholder

.row.narrow-gap
  .col-xs-6
    .panel.panel-default.quick-tip-panel.tip-blueish.playlists-panel ng-if="hasParticle('playlists')"
      .panel-tip-heading.bg-colored
        i.fa.fa-youtube-play
      .panel-body
        .row.no-gap
          .col-xs-8
            .tip-header Create
            .tip-subheader a new playlist
          .col-xs-4
            button.btn.tip-button.btn-colored ng-click="createPlaylist()" Start
        edit-playlist-modal

    .panel.panel-default.quick-tip-panel.tip-yellowish.media-panel
      .panel-tip-heading.bg-colored
        i.fa.fa-file-picture-o
      .panel-body
        .row.no-gap
          .col-xs-8
            .tip-header Organise
            .tip-subheader your media
          .col-xs-4
            button.btn.tip-button.btn-colored ng-click="gotoLibrary()" Start

    .panel.panel-default.quick-tip-panel.tip-pinkish.devices-panel ng-if="hasParticle('stations')"
      .panel-tip-heading.bg-colored
        i.fa.fa-desktop
      .panel-body
        .row.no-gap
          .col-xs-8
            .tip-header Add
            .tip-subheader your stations
          .col-xs-4
            button.btn.tip-button.btn-colored ng-click="openAuthorizeModal()" ng-disabled="!stations" Start
        authorize-station-modal

    .storage-info-panel.panel.panel-default.quick-tip-panel.tip-with-doughtnut.tip-yellowish
      .panel-tip-heading
        progress-doughnut value="current.tenant.meta.storage_usage / maxStorageQuota" progress-color="#f7d355" decimals="0"
      .panel-body
        .row.no-gap
          .col-xs-8
            .tip-header.text-colored Storage space
            .tip-subheader
              | {{current.tenant.meta.storage_usage | storage}} used of {{maxStorageQuota | storage}}


  .col-xs-6
    .panel.panel-default.public-activity
      .panel-heading.no-border
        h4 Users Activity Feed
      .panel-body
        public-activity special-keys="{'video, image, pdf_file': 'library'}" skip-url-id="library, stations" past-tenses="{resend: 're-sent'}" translate="{link: 'assign', unlink: 'unassign', pdf_file: 'PDF'}"

    .devices-info-panel.panel.panel-default.quick-tip-panel.tip-with-doughtnut.tip-pinkish.ng-joyride-highlight ng-if="hasParticle('stations')" ng-class="{'ng-joyride-element-static': highlightStats}"
      .panel-tip-heading
        progress-doughnut value="stations.length / maxStations" progress-color="#f57c73" decimals="0"
      .panel-body
        .row.no-gap
          .col-xs-8
            .tip-header.text-colored Stations
            .tip-subheader
              | {{stations.length}} used of {{maxStations}}

