.modal-header
  h3.modal-title Media Item Properties
.modal-body
  .row
    .col-xs-12.col-sm-4
      .form-group
        label.control-label for="preview" Preview
        .media-thumb
          .media-thumb-image ng-style="{backgroundImage: 'url({{mediaThumb(mediaItem)}})'}" ng-if="mediaItem.thumb_ready"
          .media-thumb-placeholder ng-if="!mediaItem.thumb_ready"
            span Thumbnail processing!
      .form-group
        button.btn.btn-danger.btn-block ng-click="delete()" ng-bind="isDeleting?'Deleting...':'Delete'" ng-disabled="isDeleting || isSaving"

    .col-xs-12.col-sm-8
      form.form ng-submit="save()"
        .form-group
          label.control-label for="media-file-name" File Name
          input#media-file-name.form-control.input-dark autocomplete="off" type="text" ng-model="mediaItem.name" placeholder="Type item name"/
        .form-group
          label.control-label for="media-file-description" Description
          textarea#media-file-description.form-control.input-dark autocomplete="off" type="text" ng-model="mediaItem.description" placeholder="Type a description"/
        .form-group
          .row
            .col-xs-6
              label.control-label.icon-label
                i.fa ng-class="{'fa-video-camera': mediaItem.friendly_content_type == 'Video', 'fa-photo': mediaItem.friendly_content_type == 'Image'}"
                | File Type: {{mediaItem.friendly_content_type}}
              br/
              label.control-label.icon-label ng-hide="mediaItem.friendly_content_type == 'Image'"
                i.fa.fa-clock-o
                | Duration: {{mediaItem.duration | duration}}
            .col-xs-6
              label.control-label.icon-label
                i.fa.fa-arrows-h
                | Width: {{mediaItem.width ? mediaItem.width + "px" : "unavailable"}}
              br/
              label.control-label.icon-label
                i.fa.fa-arrows-v
                | Height: {{mediaItem.height ? mediaItem.height + "px" : "unavailable"}}


.modal-footer
  button.btn.btn-default.pull-left ng-click="dismiss()" ng-disabled="isDeleting || isSaving" Cancel
  / active-submit is terminal, cannot use ng-bind on save button:
  button.btn.btn-primary.pull-right active-submit="true" ng-click="save()" ng-if="!isSaving" ng-disabled="isDeleting || isSaving" Save
  button.btn.btn-primary.pull-right ng-if="isSaving" disabled=true Saving...
